<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<div><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</div>
<div><%= @game.attacker.name %>'s Turn <a href="/attack">Attack</a></div>

